The following is what I've learned and practiced in Week 3:

In [ ]:
print('Hello World')

Hello World

In [ ]:
a=2
b=c=a
print(a)
print(b)
print(c)

2
2
2

In [ ]:
a = '''My name is Phyllis'''
print(a)

My name is Phyllis

In [ ]:
a='0123456789abcdef'
print(a[3])

3

In [ ]:
print(a[8])

8

In [ ]:
print(a[:])

0123456789abcdef

In [ ]:
a = 'Hello World'
print(len(a))

11

In [ ]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2,3,['dog','cat']]
d = list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [ ]:
t = ('apple', 'banana', 'orange', 'grape')
a, b, c, d = t
print(a)
print(b)
print(c)
print(d)

apple
banana
orange
grape

In [ ]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [39]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5])
c = set({'x':1,'y':2,'z':3})
d = set('hello')
print(a)
print(b)
print(c)
print(d)

set()
{1, 2, 3, 4, 5}
{'x', 'z', 'y'}
{'e', 'l', 'h', 'o'}

In [ ]:
a = 2
b = 3
if a>b:
  print('hello')
print('ok')

ok

In [ ]:
a = 6
b = 4
if a>b:
  print('hello')
print('ok')

hello
ok

In [ ]:
a = 2
b = 3
if a>b:
  print('hello')
else:
  print('world')
print('ok')

world
ok

In [ ]:
a = 3
b = 2
if a>b:
  print('hello')
else:
  print('world')
print('ok')

hello
ok

In [ ]:
from re import I
a = 2
b = 3
if a<b:
  print('a<b')
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('hello')

a<b
a=2
hello

In [35]:
a = 2
b = 3
c = 0
if a>b or a<c and a==2 or b==4:
  print('hello')
else:
  print('world')

world

In [38]:
for i in 'abc':
  print(i)

a
b
c

In [ ]:
a = input('輸入數字')
print(int(a) + 1)
print('hello')
try:
    a = input('輸入數字：')
    print(int(a) + 1)
except:
    pass
print('hello')

輸入數字3
4
hello